extends ../container_layout

block container
  table.table.table-striped
    thead
      tr
        th #
        th email
        th name
        th group
        th action
    tbody
      each user, i in users
        tr
          td= i
          td= user.email
          td= user.name
          td= user.group
          td
            a.btn.btn-small.btn-primary.btn-width(href= "/users/#{user.id}/edit") edit
            - if (uid !== user.id)
              a.btn.btn-small.btn-danger.btn-width(href= "/users/#{user.id}", data-method= "delete") delete
            - else
              a.btn.btn-small.btn-danger.btn-width(disabled= "disabled") delete
